<% content_for :navigation do %>
  <%= render "shared/navbar" %>
<% end %>
<div class="col-xs-12 col-md-8 col-md-offset-2">
  <div class="info-box">
    <div class="info-box-title">
      New User
    </div>
    <div class="info-box-info">
      <div class="row">
        <div class="col-xs-12">
          <div class="wedding-form">
            <%= render 'new_form' %>
          </div>
        </div>
      </div>
    </div>
  </div>
