<div class="gift col-xs-12 col-sm-6 col-md-3">
  <div class="thin-border faded">
    <h3 class="no-border"><%= claimed_gift.name %></h3>
    <p class="gift-description"><%= claimed_gift.description %></p>
  </div>
</div>
