<div class="row section">
  <div class="col-xs-12">
    <div class="info-box explanation">
      <div class="info-box-title">Please Read!</div>
      <div class="info-box-info align-left">
      Instead of registering at various stores, we decided to try a different kind of registry! Below are a variety of gifts that we might be interested in. The gifts have descriptions, but no specific store you will find them at. So for example, if it says "8 plates" it means we want 8 plates! The description may say "dishwasher and microwave safe," but that's it! If you would like to get us a gift, you could just get us 8 plates. They can be from anywhere. From Pottery Barn, from Goodwill, or from a box in your garage. Use your creativity!
      </div>
    </div>
  </div>
</div>
