<div class="person-wrapper col-xs-12 col-sm-6">
  <div class="person row">
    <div class="col-xs-12">
      <%= image_tag(bridal_party_member.pic_name, class: "img-responsive img-circle") %>
    </div>
    <div class="col-xs-12">
      <h2><%= bridal_party_member.name %></h2>
      <em class="text-muted"><small><%= bridal_party_member.relation %></small></em>
      <p><%= bridal_party_member.description %></p>
    </div>
  </div>
</div>
