<div class="col-xs-12 col-sm-6">
  <div class="info-box">
    <div class="info-box-title">
      <%= title %>
    </div>
    <div class="info-box-info">
      <div class="row">
        <%= render partial: "bridal_party_member", collection: people %>
      </div>
    </div>
  </div>
</div>
