<% content_for :navigation do %>
  <%= render "shared/navbar" %>
<% end %>
<div class="wrapper">
  <div class="col-xs-12">
    <div class="row">
      <div class="col-md-8 col-md-push-4 col-sm-12">
        <div class="index-gallery">
          <div class="row">
            <div class="col-sm-4 col-xs-12">
              <div class="info-box-image">
                <%= image_tag("lydia.jpg", class: "align-center img-responsive img-circle") %>
              </div>
              <div class="info-box">
                <div class="info-box-title">
                  Bride
                </div>
                <div class="info-box-info">
                  Lydia<br/>Mikkael
                </div>
              </div>
            </div>
            <div class="col-sm-4 col-xs-12">
              <div class="info-box-image">
                <%= image_tag("john.jpg", class: "align-center img-responsive img-circle") %>
              </div>
              <div class="info-box">
                <div class="info-box-title">
                  Groom
                </div>
                <div class="info-box-info">
                  John<br/>Donald
                </div>
              </div>
            </div>
            <div class="col-sm-4 col-xs-12">
              <div class="info-box-image">
                <%= image_tag("lydia-and-john.jpg", class: "align-center img-responsive img-circle") %>
              </div>
              <div class="info-box">
                <div class="info-box-title">
                  Location
                </div>
                <div class="info-box-info">
                  St. James Church<br/>Arlington Hts. IL
                </div>
              </div>
            </div>
            <div class="col-xs-12">
              <div class="info-box">
                <div class="info-box-title">
                  Sacrament of Holy Matrimony
                </div>
                <div class="info-box-info wedding-date">
                  3:00pm&emsp;December 19th, 2015
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-md-pull-8 col-sm-12">
        <div class="info-box" id="poem">
          <div class="info-box-title">
            The Seed Cracked Open
          </div>
          <div class="info-box-info">
            <p>It used to be<br/>
            That when I would wake in the morning<br/>
            I could with confidence say<br/>
            "What am 'I' going to Do?"</p>

            <p>That was before the seed<br/>
            Cracked open.</p>

            <p>Now Hafiz is certain:</p>

            <p>There are two of us housed<br/>
            In this body.</p>

            <p>Doing the shopping together in the market and<br/>
            Tickling each other<br/>
            While fixing the evening's food.</p>

            <p>Now when I awake</br>
            All the internal instruments play the same music:</p>

            <p>"God, what <strong>love-mischief</strong> can 'We' do<br/>
            For the world<br/>
            Today?"</p>

            <p id="author">--<em>Hafiz</em></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
