<div class="login-wrapper">
  <div class="col-xs-12 col-md-8 col-md-offset-2">
    <div class="info-box">
      <div class="info-box-title">
        Login
        <%= image_tag("love-mischief-white.png", height: "35", class: "pull-right") %>
      </div>
      <div class="info-box-info">
        <%= render "shared/flash" %>
        <div class="row">
          <div class="col-xs-12">
            <div class="wedding-form">
              <%= render "form" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
